MYMETA.json
MYMETA.yml
Makefile
Makefile.old
stacksize.h
/Storable.pm
Storable.bs
Storable.c
Storable.o
Storable.obj
blib/
pm_to_blib
storable-testfile.*
.gdb
.gdbinit
Storable-*.tar.gz
*.diff
*.patch
/.git-rr-cache
/log.*
/lib/Storable/Limit.pm
/t/malice_dbg.t
/t/z_pod-coverage.t.not
