MYMETA.json
MYMETA.yml
Makefile
Makefile.old
stacksize.h
Storable.bs
Storable.c
Storable.o
Storable.pm
Storable.obj
blib/
lib/Storable/Limit.pm
pm_to_blib
storable-testfile.*
.gdb
.gdbinit
Storable-*.tar.gz
*.diff
*.patch
/log.*
